[run]
source =
    accounts
    homepage
    config
    points
    shop
omit =
    manage.py
    */migrations/*
    */admin.py
    config/asgi.py
    config/wsgi.py
parallel = True
concurrency = multiprocessing

[report]
show_missing = True
fail_under = 100
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
